<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Student page</title>
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script type="text/javascript" src="/static/app/student.controller.js" th:src="@{/app/student.controller.js}"></script>
</head>
<body ng-app="app" ng-controller="StudentController as vm">
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Student application</a>
            </div>
            <p class="navbar-text navbar-right" style="margin-right: 10px;">Signed in as Student</p>
        </div>
    </nav>
</header>

<div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <!-- Get all student or only affordable ones -->
          
            <!-- Display student in a table -->
            <table class="table">
                <thead>
                <tr>
                    <th>Course</th>
                    <th style="width: 90px"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="iterator in vm.returnList">
                    <td>{{iterator.course.name}}</td>
                    <td>{{iterator.grade}}</td>
                  	<td><button type="button" class="btn btn-danger" ng-click="vm.unenrollFromCourse(iterator.course.id)">Unenroll</button>
                	</td>
                </tr>
               </tbody>
            </table>
			 <button ng-repeat="iterator in vm.courseList" type="button" class="btn btn-danger" ng-click="vm.enrollInCourse(iterator.id)">{{iterator.name}}</button>
                
        </div>
    </div>
</div>

<footer class="footer" style="position: absolute; bottom:0;background-color: #f5f5f5; width: 100%">
    <div class="container">
        <p class="text-muted"></p> 	
    </div>
</footer>
</body>
</html>